.htm_viz_debug_panel {
    min-height: 200px;
    max-height: 200px;
}

.htm_viz_debug_panel_body {
    min-height: 150px;
    max-height: 150px;
    overflow: scroll;
}

.htm_viz_main_buttons {
    padding: 0;
}

.htm_viz_settings_panel {
    min-height: 820px;
}

.htm_viz_main_panel {
    min-height: 600px;
    max-height: 600px;
}

.htm_viz_pick_settings {
    min-height: 820px;
}

.htm_ceil {
    display: inline-flex;
    overflow-x: auto;
    margin: 2px;
    border-radius: 0;
    padding: 10px;
}

.htm_column {
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    height: 62px;
    width: 62px;
    white-space: normal;
}

.htm_cell {
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 12px;
    display: inline-flex;
    padding: 7px;
}