{% extends "basic.html" %}

{% block head_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/htmRun.js') }}"></script>

    {#   Рисовалка графиков #}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        google.load('visualization', '1.1', {packages: ['line']});
    </script>

    <script>
        window.onload = function () {
            get_htm_data();
        };
    </script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="panel-body">
            <ul class="nav nav-pills">
                <li>
                    <button onclick='move_and_get_htm_data(1)' class="btn btn-default">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    </button>
                </li>

                {#                <li>#}
                {#                    <button onclick='stop_htm_server()' class="btn btn-default">#}
                {#                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>#}
                {#                    </button>#}
                {#                </li>#}

                <li>
                    <button onclick='move_and_get_htm_data(100)' type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                </li>


                <li>
                    <button onclick='move_and_get_htm_data(1000)' type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></button>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="input_data" style="display: inline-block; white-space: nowrap; margin: 10px"></div>
        </div>
        <div class="col-md-6">
            <div id="compress_input" style="display: inline-block; white-space: nowrap; margin: 10px"></div>
        </div>
    </div>
    <hr>
    <div class="row">

        <div class="col-md-6">
            <div id="viz" style="display: inline-block; white-space: nowrap; margin: 10px"></div>
        </div>

        <div class="col-md-6">
            <div id="linechart_material"></div>
        </div>
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">Отладочная информация</h3>
    </div>
    <div id="debugID" class="panel-body htm_viz_debug_panel_body">

    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="sp_prediction" style="display: inline-block; white-space: nowrap; margin: 10px"></div>
        </div>

    </div>

{% endblock %}