{% extends "basic.html" %}

{% block head_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/htmRun.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="panel-body">
            <ul class="nav nav-pills">
                <li>
                    <button onclick='do_go()' class="btn btn-default">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    </button>
                </li>

                <li>
                    <button onclick='do_stop()' class="btn btn-default">
                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                    </button>
                </li>

                <li>
                    <button onclick='do_go()' type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="width: auto">
            <div class="panel ">
                <div id="input_data" style="display: inline-block; white-space: nowrap; margin: 10px"></div>
            </div>
        </div>
        <div class="col-md-6" style="width: auto">
            <div class="panel ">
                <div id="compress_input" style="display: inline-block; white-space: nowrap; margin: 10px"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-6" style="width: auto">
            <div class="panel ">
                <div id="viz" style="display: inline-block; white-space: nowrap; margin: 10px"></div>
            </div>
        </div>
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">Отладочная информация</h3>
    </div>
    <div id="debugID" class="panel-body htm_viz_debug_panel_body">

    </div>

{% endblock %}